/*Configurando posición del gráfico ampliado*/
.graficoAmpliado {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Configurando la X para cerrar en el grafico ampliado*/
.graficoAmpliado .cerrarGraficoAmpliado {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #d74242;
    font-size: 35px;
    font-weight: bold;
}

/* Configurando colores y letra*/
.iconos a {
    color: #fff;

}

.btn {
    color: white;
}

.btn-rojo {
    background-color: #d74242;
}

.btn-verde {
    background-color: #4e9f3d;
}

.btn-morado {
    background-color: #7f4ca5;
}

.btn-azul {
    background-color: #1a3c7d;
}

.titulo {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  